/* add custom css for your presentation here  */


cite {
    display: block;
    text-align: end;
    padding:0px;
    margin:0px;
    padding-right:1vw
    
}
cite::before {
    content : "—— "
}


/*
Figure Definition
*/

/* figure {
    
} */

figure figcaption span {
    border-top : 1px solid beige;
    border-style: inset;
    padding-top:5px;
    font-size: large;
}


li.align-middle{
    text-align: center;
    list-style: none;
}